---
---
// Moritz Brunnengräber for Cartography Playground

// Color
// TUM CD https://portal.mytum.de/corporatedesign/index_html/vorlagen/index_farben
$primary:       #0065bd;
$secondary:     #a2ad00;
$info:          #e5e3da; // Tint of TUM color #dad7cb
$warning:       #e37222;

// Grays copied from original Bootstrap so that they are availablel in here
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

// Fonts
$font-family-sans-serif:
                            // Desired Font imported from Google fonts
                            "Roboto",
                            // Nativ font stack (copied from bootstrap)
                            -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace:
                            // Desired Font imported from Google fonts
                            "Roboto Mono",
                            // Nativ font stack (copied from bootstrap)
                            SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-serif:
                            // Desired Font imported from Google fonts
                            "Roboto Slab",
                            //Fallback to sans-serif
                            $font-family-sans-serif;

// Font weights
$lead-font-weight:  400;

// Shadows
$box-shadow:      0 .5rem .75rem rgba(#000, .2); // Bootstrap shadow (used for cards)
$box-shadow-up:   0 -.5rem .75rem rgba(#000, .2); // Custom shadow (used for footer)

//Dropdowns
$dropdown-link-active-bg:   $gray-600;

// Custom Forms
$input-btn-focus-width:                       .2rem;
$input-btn-focus-color:                       rgba($primary, .25);
$input-btn-focus-box-shadow:                  0 0 0 $input-btn-focus-width $input-btn-focus-color;
// Indicators for Checkboxes and Radios
$custom-control-indicator-bg:                 $gray-200;
$custom-control-indicator-size:               1.25rem;
$custom-control-indicator-focus-box-shadow:   $input-btn-focus-box-shadow;
$custom-control-indicator-bg-size:            60% 60%;
$custom-checkbox-indicator-border-radius:     .15rem;
// Range
$custom-range-track-height:                   .3rem;
$custom-range-track-bg:                       $gray-400;
$custom-range-track-border-radius:            1.2rem;
$custom-range-thumb-width:                    $custom-range-track-border-radius;
$custom-range-thumb-active-bg:                lighten($primary, 10%);
$custom-range-thumb-focus-box-shadow:         $input-btn-focus-box-shadow;


// =============================================================================

// Import bootstrap
@import "bootstrap/bootstrap";

// Import custom
@import "custom/override";
@import "custom/global";
@import "custom/navbar";
@import "custom/footer";
@import "custom/mdi";
@import "custom/404";
@import "custom/blockquote";
@import "custom/misc";
